*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* || COLORS */

html {
  font-size: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;}

/* Light default mode */
:root {
  --background-color: #fbf2dd;
  --text-color: #1e2122;
  --link-color: #000000;
  --link-accent: #106994;
  --focus-back: white;

  --skibo-red: #c41230;
  --tint-red: #941020;
  --eggshell: #fbf2dd;
  --eggshell-dk: #c4beb1;
  --scotty: #1e2122;

  --mid-blue:#106994;
  --lt-blue:#9CDFFF;
  --maroon:#3F1C20;
  --science-yellow:#948F10;}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3F1C20;
    --text-color: #fbf2dd;
    --link-color: #c4beb1;
    --link-accent: #9CDFFF;
    --focus-back: black;}} 



/* || LINKS AND ACCENTS */

a, a:link, a:visited {
  position: relative;
  color: var(--link-color);
  text-decoration: var(--link-accent) underline dotted 0.05rem;
  text-underline-offset: 0.15rem;
}

a:focus, a:hover, a:active {
  color: var(--link-accent);
  transition: color 0.3s;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.1rem;
  bottom: 0.1rem;
  left: 0;
  background-color: var(--link-accent);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

:focus-visible {
  outline: 2px dotted var(--link-accent);
  outline-offset: .5rem;
  background: var(--focus-back);
}

::-moz-selection { /* Code for Firefox */
  color: var(--background-color);
  background: var(--text-color);
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}



/* || TITLE/HEADERS */

header {
  text-align: center;}

#logo {
  width: 100%px;
  max-width: 650px;}

h1 {
  font-family: click-clack, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 400%;
  white-space: normal;}

h2 {
  font-family: open-sans, sans-serif;
  font-weight: 700;
  white-space: normal;}

  @media (min-width: 400px) {
      h2 {
      white-space: pre;}}
  @media (max-width: 550px) {
      h1 {
      white-space: pre;}}
h3 {
  font-family: open-sans, sans-serif;
  font-weight: 700;
  margin: 4rem auto 0 auto;
  max-width: 1200px;}

h4, h5, h6 {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  text-transform: uppercase;}

.bigblock h4 {
  margin: 1rem 0 1rem 0;}

.cracking {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  display:inline-block;
  cursor: url('./egghand.png'), pointer;}

.cracking:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  transform-origin: bottom left;} 


/* || ACCESSIBLE EXTRAS */

:focus-visible {
  outline: 2px dotted var(--link-accent);
  outline-offset: .5rem;
  background: var(--focus-back);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;}

.skipnav:focus {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  clip-path: initial;
  white-space: normal;}

.skipnav {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  top:1.5rem;
  left:1.5rem;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.skipnav:focus {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  clip-path: initial;
  white-space: normal;
}

.skipnav:focus-visible {
  outline: .5rem double var(--skibo-red);
  outline-offset: .5rem;
  background: var(--focus-back);
  font-size: 1.5rem;
}



/* ||| LOGO */


.color-scotty {
        fill: var(--scotty);}
.color-eggshelldk {
        fill: var(--eggshell-dk);}
.color-skibored {
        fill: var(--skibo-red);}
.color-eggshell {
    fill: var(--eggshell);}   
svg {
    width: 75vw;
    max-height: 100vh;}

      @media (width < 600px) {
            svg.halfpint {
                width: 75vw;
                max-height: 100vh;}}
      @media (600px <= width) {
            svg.halfpint {
                width: 35vw;
                max-height: 100vh;}}

svg path {
    transition: all .5s;}
svg:hover path#scotty {
  d: path("M874.2,558.7c-1-6.5-3.6-28.1-8.9-30.9h-4.7c-5.8,16.3-19.7,23.1-31.5,34.3l-30.6-37.8c-7,.3-20.6,19.2-25.4,17.9-3.1-.8-10.2-12.6-13.2-15.9-2.9-3.2-7.6-4.8-10-8.4-2.2-3.3-.5-5.5-2.2-8.3-3.1-5.2-13.3-9.5-16.9-15.3-.3-3.9.5-1.7,2.7-1.1,3.8,1.1,7,3.8,11.1,3.4,3.1-3.3-12.2-26.1-15.3-29.7-5.2-6-18.3-12.8-20.5-19.1-.6-1.8,4.1-13.3,2-20.4-1.8-6-9.8-4.5-11.6-5.9-1.1-.8-1-4.4-1.9-6.2-3.3-6-6.7-17.3-6-24.8.2-2.3,1.7-9.5,3.9-10,9.8,2,24.7,29.3,32.1,29,1.9,0,2.7-.8,3.6-2.4l-2.9-15.9c1.6-1.8,9.6,6.1,10.7,7.6,0,0,5.3-3.1,0,0,.6.8.7,3.9,2.3,6,3.7,4.6,9.6,11.1,16,10.8l.2-16.6c6.8-1.9,14.6-3.2,15.2,5.9,13.2-3.4,22.7-17.1,31.2-27.4l-.7,11.2,3.7,2.5c12.1-14.2,20.3-29.7,20.6-48.9,4.7-.5,7.7,9,12.3,5.4,3.4-2.6,4.5-26.1,6-31.4l10.8.6c3-9.3,1-18.9-.2-28.1.4-.5,10.4,5.6,12.2.7l-9-20.1c5.3-4.9,1.7-12.9-.9-18.8-2.6-5.7-2.4-12.6-3.8-18.2-3.3-12.8,4-27.3-2.2-39.8-39.3-2.8-72.4,8.2-103.1.7-3.4-2.9,0-9.9-2.2-13.1-1-1.4-4.4-1.4-6.1-3-1.5-1.4-2.4-5.2-4.6-7.7-3.4-3.8-11.3-6.4-11.6-9.9l15.4-32c-4.7-2-10.5,3.3-14.5,5.3-1.6-5.7,8.9-9.6,12.6-13.2,4.6-4.5.7-7-4.6-6.3-4.3.6-15.8,4.2-20.3,5.8-5.3,1.9-9,5.8-14.4,6.2l13-12.2c4.7-2.4,10.6-4.2,9.9-10.7-.7-.7-11.8,1.6-13.7,2.3-5.5,1.8-15.5,11.2-10.7-.8l-15.2,4.6,6.2-14.5-3.2-1.5c2.6-5.7,6.9-13.9,7.6-20,.7-6.2-6.1,2.5-7.6.8,5.2-17.6.6-36.2,4.6-53.4,1.1-4.8,8.7-19.3.7-20-3.5-.3-18.4,13.5-22.1,16.9-5.8,5.3-16.5,15.2-21.4,20.6-3.6,4-9.3,19.3-13,19.1l-.8-4.6-2.2,1.5-27.4,61.1-34.4,10.6c-1.7-4-4.4-24.3-8.5-24.4l-9.2,28.9-28.2-32-.8,4.6-12.3-13.6-6,2.9c-4.3-4.9-8.7-9.6-13.8-13.7-3.3-2.7-18.7-14.4-21.4-15.3-4.3-1.5-.2,5.8-4.5,4.6-3.5-3.6-28.1-24.7-31.3-21.4v10.7l-4.6-6.1c0,16.2,7,31.9,9.1,48.1l-4.6-2.3,7.6,27.5c-.5.8-5.3-4.2-4.6.8.3,2.1,13.6,24.8,10,23.6l-5.3-3c-1.7,2.2,7.5,14.5,9.4,17.3,2.1,3,9.7,11,10.4,12.5.8,1.9-.4,2.9-2.2,2.2l-8.4-4.6c-3.5,4.8,16.3,27.8,18.3,32.9,1.7,4.3-6.5.9-7.6,3,2.2,7.6,29.2,23.3,30.3,27.8-2.4,8.9-.5,18.1-1.4,27-.4,4.1-4.5,14.6-4.4,17,.5,6.9,11.1-7.8,13.7-5.4l-7.7,48.1,2.4,3.8c1.3,0,8.6-15.5,8.4-8.3-.4,16.2-9.8,35.9-10.8,51.9-.1,2.4-.3,2.6,2.3,2.3l8.4-10.7-3,18.9-12.4,1.7c-3.3,2.2-3.9,19.2-2.7,22.7,1.6,4.8,10.4,2.5,8.9,6.3l-21.4,15.3.9,3.8,12.9.7-28.2,31.3-.8,4.6,9.9-3c1.7,2.8-3.3,8.7-5.4,11.4-6.7,8.4-27.8,24.8-30.5,33.7-2.3,7.6,15.9-9.1,13.7-1.6-.6,2.2-12.7,19.4-14.4,20.8-6.4,4.9-18.1-10.7-24.2-9.1-4.4,1.1-30,34-31.6,41-4.6,3.4-7.9-15.9-11.5-16.8-6.1,0-1.8,8-5.3,9.2-3.6-2.4-20.1-54.7-24.1-52s-1.5,4.3-2.2,7.8c-2.5-16.7-23.5-34.7-27.6-35.6s-1,8.3-1,8.3c0,0-30.6-24.3-46.2-27.5-15.6-3.2-30.2,1.9-22.7,8.5,7.5,6.6,37.1,29.1,44.9,49.2l-4.5-2c-9.5,3,19.6,19.3,20.3,21.1,1,2-10-5.1-9.1.6s18.3,22.7,29.2,34.7c-6.6,2.6-10.2-7.9-16.8-6.9-4,4.2,14.6,21.7,16.8,25.9-2.4,2-10.7-12.1-14.6,3-1,3.9-2,11.8-2.2,16.1-9.1,130.8,52,314.9,183.3,367.3,52.1,20.8,116.5,24.6,171.1,13,13-2.8,30.9-10.3,42.7-11.5,11.4-7.8,24.6-12.2,36.5-19.2,127.6-75.5,165.1-258.4,143.4-395.1v.3Z"); 
  d:     "M874.2,558.7c-1-6.5-3.6-28.1-8.9-30.9h-4.7c-5.8,16.3-19.7,23.1-31.5,34.3l-30.6-37.8c-7,.3-20.6,19.2-25.4,17.9-3.1-.8-10.2-12.6-13.2-15.9-2.9-3.2-7.6-4.8-10-8.4-2.2-3.3-.5-5.5-2.2-8.3-3.1-5.2-13.3-9.5-16.9-15.3-.3-3.9.5-1.7,2.7-1.1,3.8,1.1,7,3.8,11.1,3.4,3.1-3.3-12.2-26.1-15.3-29.7-5.2-6-18.3-12.8-20.5-19.1-.6-1.8,4.1-13.3,2-20.4-1.8-6-9.8-4.5-11.6-5.9-1.1-.8-1-4.4-1.9-6.2-3.3-6-6.7-17.3-6-24.8.2-2.3,1.7-9.5,3.9-10,9.8,2,24.7,29.3,32.1,29,1.9,0,2.7-.8,3.6-2.4l-2.9-15.9c1.6-1.8,9.6,6.1,10.7,7.6,0,0,5.3-3.1,0,0,.6.8.7,3.9,2.3,6,3.7,4.6,9.6,11.1,16,10.8l.2-16.6c6.8-1.9,14.6-3.2,15.2,5.9,13.2-3.4,22.7-17.1,31.2-27.4l-.7,11.2,3.7,2.5c12.1-14.2,20.3-29.7,20.6-48.9,4.7-.5,7.7,9,12.3,5.4,3.4-2.6,4.5-26.1,6-31.4l10.8.6c3-9.3,1-18.9-.2-28.1.4-.5,10.4,5.6,12.2.7l-9-20.1c5.3-4.9,1.7-12.9-.9-18.8-2.6-5.7-2.4-12.6-3.8-18.2-3.3-12.8,4-27.3-2.2-39.8-39.3-2.8-72.4,8.2-103.1.7-3.4-2.9,0-9.9-2.2-13.1-1-1.4-4.4-1.4-6.1-3-1.5-1.4-2.4-5.2-4.6-7.7-3.4-3.8-11.3-6.4-11.6-9.9l15.4-32c-4.7-2-10.5,3.3-14.5,5.3-1.6-5.7,8.9-9.6,12.6-13.2,4.6-4.5.7-7-4.6-6.3-4.3.6-15.8,4.2-20.3,5.8-5.3,1.9-9,5.8-14.4,6.2l13-12.2c4.7-2.4,10.6-4.2,9.9-10.7-.7-.7-11.8,1.6-13.7,2.3-5.5,1.8-15.5,11.2-10.7-.8l-15.2,4.6,6.2-14.5-3.2-1.5c2.6-5.7,6.9-13.9,7.6-20,.7-6.2-6.1,2.5-7.6.8,5.2-17.6.6-36.2,4.6-53.4,1.1-4.8,8.7-19.3.7-20-3.5-.3-18.4,13.5-22.1,16.9-5.8,5.3-16.5,15.2-21.4,20.6-3.6,4-9.3,19.3-13,19.1l-.8-4.6-2.2,1.5-27.4,61.1-34.4,10.6c-1.7-4-4.4-24.3-8.5-24.4l-9.2,28.9-28.2-32-.8,4.6-12.3-13.6-6,2.9c-4.3-4.9-8.7-9.6-13.8-13.7-3.3-2.7-18.7-14.4-21.4-15.3-4.3-1.5-.2,5.8-4.5,4.6-3.5-3.6-28.1-24.7-31.3-21.4v10.7l-4.6-6.1c0,16.2,7,31.9,9.1,48.1l-4.6-2.3,7.6,27.5c-.5.8-5.3-4.2-4.6.8.3,2.1,13.6,24.8,10,23.6l-5.3-3c-1.7,2.2,7.5,14.5,9.4,17.3,2.1,3,9.7,11,10.4,12.5.8,1.9-.4,2.9-2.2,2.2l-8.4-4.6c-3.5,4.8,16.3,27.8,18.3,32.9,1.7,4.3-6.5.9-7.6,3,2.2,7.6,29.2,23.3,30.3,27.8-2.4,8.9-.5,18.1-1.4,27-.4,4.1-4.5,14.6-4.4,17,.5,6.9,11.1-7.8,13.7-5.4l-7.7,48.1,2.4,3.8c1.3,0,8.6-15.5,8.4-8.3-.4,16.2-9.8,35.9-10.8,51.9-.1,2.4-.3,2.6,2.3,2.3l8.4-10.7-3,18.9-12.4,1.7c-3.3,2.2-3.9,19.2-2.7,22.7,1.6,4.8,10.4,2.5,8.9,6.3l-21.4,15.3.9,3.8,12.9.7-28.2,31.3-.8,4.6,9.9-3c1.7,2.8-3.3,8.7-5.4,11.4-6.7,8.4-27.8,24.8-30.5,33.7-2.3,7.6,15.9-9.1,13.7-1.6-.6,2.2-12.7,19.4-14.4,20.8-6.4,4.9-18.1-10.7-24.2-9.1-4.4,1.1-30,34-31.6,41-4.6,3.4-7.9-15.9-11.5-16.8-6.1,0-1.8,8-5.3,9.2-3.6-2.4-20.1-54.7-24.1-52s-1.5,4.3-2.2,7.8c-2.5-16.7-23.5-34.7-27.6-35.6s-1,8.3-1,8.3c0,0-30.6-24.3-46.2-27.5-15.6-3.2-30.2,1.9-22.7,8.5,7.5,6.6,37.1,29.1,44.9,49.2l-4.5-2c-9.5,3,19.6,19.3,20.3,21.1,1,2-10-5.1-9.1.6s18.3,22.7,29.2,34.7c-6.6,2.6-10.2-7.9-16.8-6.9-4,4.2,14.6,21.7,16.8,25.9-2.4,2-10.7-12.1-14.6,3-1,3.9-2,11.8-2.2,16.1-9.1,130.8,52,314.9,183.3,367.3,52.1,20.8,116.5,24.6,171.1,13,13-2.8,30.9-10.3,42.7-11.5,11.4-7.8,24.6-12.2,36.5-19.2,127.6-75.5,165.1-258.4,143.4-395.1v.3Z"; 
}
svg path#scottyears {
    Animation-name:slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;}
@keyframes slide {
  0 {
    transform: translate(0,0);}
  10% {
    transform: translate(0,0);}
  25% {
    transform: translate(0,calc(15% - 2px));}
  50% {
    transform: translate(0,calc(15% - 2px));}
  100% {
    transform: translate(0,0);}
}

a.nodeco {
  text-decoration: none;}

a.nodeco::before {
  display: none;
}



/* || CONTENT */

body {
  font-family: source-serif-pro, serif;
  font-weight: 400;
  line-height: 1.5;
  margin:2rem;}

section {
  margin: 2rem auto 0 auto;
  max-width: 1200px;}

p {
  text-wrap: pretty;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;   
    -webkit-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;   
    hyphenate-limit-zone: 8%;
}

button {
  box-shadow: none;
  border: 0;
}

button:focus-visible {
  box-shadow: 
  0 0 0 .25rem var(--text-color);  
}

footer {
  font-size: 80%;
  margin-top:2em;}

.bigtext p {
  width: 80%;
  font-size: 125%;
  line-height: 1.5; 
  margin: 0 auto 1rem auto}

.bigblock p {
  column-count: 1;
  column-gap: 2rem;
  column-rule: 1px solid var(--text-color);}

  @media (700px <= width < 875px) {
      .bigblock p {
      column-count: 2;}}
  @media (875px <= width) {
      .bigblock p {
      column-count: 3;}}



/* || EGG NAV */

nav {
  font-family: open-sans, sans-serif;
  font-weight: 400;}

nav (a, a:link, a:visited, a:focus, a:hover, a:active) {
  position: relative;
  color: var(--eggshell);
  text-decoration: none;}

nav a::before {
  display: none;
}

.egg-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
}



  @media (width < 992px) {
.egg-menu .floating-btn {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--skibo-red);
  color: var(--eggshell);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.egg-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.egg-menu .menu-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  text-decoration: none; 
  color: var(--eggshell);
  font-size: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4;
  transition: transform .3s ease, background .2s ease;
}

.egg-menu .menu-item {
  background-color: var(--tint-red);
}


.egg-menu button .menu-item {
  background-color: var(--skibo-red);
}

.egg-menu button .menu-item:hover {
  background-color: var(--tint-red);
}

.egg-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.egg-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0,4.5rem,0);}
.egg-menu.active .menu-item:nth-child(2) {
  transform: translate3d(0,9rem,0);}
.egg-menu.active .menu-item:nth-child(3) {
  transform: translate3d(0,13.5rem,0);}
.egg-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-0,18rem,0);}

}

  @media (992px <= width) {
.egg-menu .floating-btn {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--skibo-red);
  color: var(--eggshell);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.egg-menu .floating-btn:hover {
  color: var(--eggshell-dk);
}

.egg-menu:after {
  display: block;
  content: ' ';
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: var(--skibo-red);
  transition: all .3s ease;
}

.egg-menu.active:after {
  transform: scale3d(6, 6, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.egg-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.egg-menu .menu-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  text-decoration: none; 
  color: var(--eggshell);
  font-size: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4;
  transition: transform .3s ease, background .2s ease;
}

.egg-menu a.menu-item {
  background-color: var(--tint-red);
}

.egg-menu a.menu-item:hover {
  background-color: var(--skibo-red);
}

.egg-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.egg-menu.active .menu-item:nth-child(1) {
  transform: translate3d(-14.5rem,4.5rem,0);
  background-color:  var(--skibo-red);}
.egg-menu.active a.menu-item:nth-child(1):hover {
  background-color:  var(--tint-red);}
.egg-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-8rem,0rem,0);}
.egg-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6rem,6rem,0);}
.egg-menu.active .menu-item:nth-child(4) {
  transform: translate3d(0rem,8rem,0);}

}


/* ||| PEOPLE DEETS */

.person {
  margin-bottom: 2rem;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  gap: 1em; 
  grid-template-areas: 
    "name"
    "photo"
    "bio"; }
    .name { grid-area: name; }
    .photo { grid-area: photo; }
    .bio { grid-area: bio; }

.person img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

  @media (600px <= width) {
      .person {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: min-content 1fr;
        gap: 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "photo name"
            "photo bio";}}



